script(src='/plugins/jquery/dist/jquery.min.js')
script(src='plugins/bootstrap/js/bootstrap.min.js')
script(src='/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js')
script(src='/plugins/instafeed/instafeed.min.js')
script(src='/plugins/ekko-lightbox/dist/ekko-lightbox.min.js')
script(src='/plugins/syo-timer/build/jquery.syotimer.min.js')
script(src='/plugins/slick/slick.min.js')
script(src='/plugins/slick/slick-animation.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw')
script(type='text/javascript' src='plugins/google-map/gmap.js')
script(src='/js/script.js')

block script